<!DOCTYPE html>
<html>
<head>
	<title>New Figure</title>
</head>
<body>
	<h1>Make a New Figure</h1>
	<form method="POST" action="/figures">
		<h2>Name: <input type="text" name="figure[name]" id="figure_name"></h2>
		<h3>Titles:</h3>
		<% Title.all.each do |title|%>
			<input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %></input>
		<% end %>
		<br>
		<p>New Title: <input id="new_title" type="text" name="title[name]"></p>
		<h3>Landmarks</h3>
		<% Landmark.all.each do |landmark| %>
			<input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %></input>
		<% end %>
		<br>
		<p>New Landmark: <input id="new_landmark" type="text" name="landmark[name]"></p>
		<input type="submit" value="Create New Figure">
	</form>
</body>
</html>